extends ../layout

block content
    h1 New Book

    include book-validation

    form(method='POST' action='/books/new')
        p
          label(for='title') Title
          input#title.form-control(type='text', name='title' value=book.title)
        p
          label(for='author') Author
          input#author.form-control(type='text', name='author' value=book.author)
        p
          label(for='genre') Genre
          input#genre.form-control(type='text', name='genre' value=book.genre)
        p
          label(for='year') Year
          input#year.form-control(type='text', name='year' value=book.year)
        p
          input.btn.btn-primary(type='submit' value='Create New Book')
        p 
          a.button(href='/books') Cancel